extends ../layouts/layout.pug

block title
  title Express and Webpack boilerplate | Contacts
  
block content
  .nav
    a(href="/") Home
    a(href="/contacts").active Contacts
  .panel
    .panel-content
      h1 #{title}
      p.description Please, contact us +1234567
      .contacts-portrait
