extends ../layouts/layout.pug

block title
  title Express and Webpack boilerplate | #{title}
  
block content
  .nav
    a(href="/").active Home
    a(href="/contacts") Contacts
  .panel
    .panel-content
      h1 #{title}
      p.description Express and Webpack boilerplate app!
      .portrait
