$white: #fff;
$yellow: yellow;
$gray-600: #626467;
$gray-900: #141618;

$spacer: 1rem;
$spacer-sm: 0.5 * $spacer;

@import './components/nav';
@import './components/panel';

html, body {
  font-family: sans-serif;
  color: $gray-900;
  padding: 0;
  margin: 0;
}

.description {
  font-size: 14px;
  color: $gray-600;
  // color: red;
}

.portrait, .contacts-portrait {
  background: url(../img/portrait.jpg);
  width: 300px;
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.contacts-portrait {
  background: url(../img/portrait-2.jpg);
}

.footer {
  font-size: 14px;
  color: $gray-600;
}
