$gray-600: #626467;
$gray-900: #141618;

body {
  font-family: sans-serif;
  color: $gray-900;
}

.description {
  font-size: 14px;
  color: $gray-600;
  // color: red;
}

.portrait, .contacts-portrait {
  background: url(../img/portrait.jpg);
  width: 300px;
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.contacts-portrait {
  background: url(../img/portrait-2.jpg);
}

.nav {
  a, a:link, a:visited {
    display: inline-block;
    padding-right: 10px;
  }
}

.footer {
  font-size: 14px;
  color: $gray-600;
}
